@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
	--White: hsl(0, 0%, 100%);
	--Light-gray: hsl(212, 45%, 89%);
	--Grayish-blue: hsl(220, 15%, 55%);
	--Dark-blue: hsl(218, 44%, 22%);
}

*,
*::after,
*::before {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Outfit", sans-serif;
	background-color: var(--Light-gray);
	font-size: 15.5px;
}

.container {
	padding: 1rem;
	background-color: var(--White);
	width: 20rem;
	border-radius: 1.25rem;
}

img {
	max-width: 100%;
	border-radius: 0.75rem;
	display: block;
	margin: auto;
}

h1 {
	color: var(--Dark-blue);
	font-weight: 700;
	font-size: 1.4rem;
	margin: 1.35rem 0rem;
	text-align: center;
}

p {
	color: var(--Grayish-blue);
	font-weight: 400;
	margin: 0rem 0.75rem 1.25rem 0.75rem;
	text-align: center;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
