* {
	margin: 0%;
	padding: 0%;
}

body {
	background-color: hsl(217, 54%, 11%);
	font-size: 15px;
	font-family: "Outfit", "sans-serif";
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

hr {
	color: hsl(215, 32%, 27%);
}

ul {
	position: absolute;
	display: flex;
	right: 15px;
}

ul li {
	text-decoration: none;
	list-style: none;
	padding: 5px;
}

.preview-card {
	background-color: hsl(216, 50%, 16%);
	width: 250px;
	height: 450px;
	padding: 20px;
	border-radius: 10px;
	display: block;
	box-shadow: 1px 17px 5px 12px hsl(216, 61%, 9%);
}

.container {
	position: relative;
	height: 250px;
}

.middle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	border-radius: 10px;
}
.view-icon {
	position: absolute;
	top: 40%;
	left: 40%;
}

.container:hover .middle {
	background-color: hsla(178, 100%, 50%, 0.4);
	opacity: 1;
}

.name-product,
#creator-name {
	color: hsl(0, 0%, 100%);
}

.name-product {
	margin: 15px 0px;
	font-weight: bold;
	font-size: 1.2em;
}

.name-product:hover,
#creator-name:hover {
	color: hsl(178, 100%, 50%);
}

.light-blue-text {
	color: hsl(215, 51%, 70%);
}

#description {
	margin: 10px 0px;
}

#soft-blue {
	color: hsl(178, 100%, 50%);
}

.product-image {
	height: 250px;
	border-radius: 10px;
}

#avatar {
	height: 30px;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	border-radius: 50%;
	margin: 0px 5px 0px 0px;
}

#price-time {
	display: flex;
	position: relative;
	margin: 20px 0px;
	font-size: 14px;
}

#soft-blue,
#days-left {
	padding: 0px 5px;
}

#days-left {
	position: absolute;
	right: 0px;
}

#clock-icon {
	position: absolute;
	right: 75px;
}

#soft-blue {
	font-weight: bold;
}

#lower-portion {
	display: flex;
	font-size: 14px;
	padding: 10px 0px;
}

#creator-name,
#creation {
	padding: 6px 0px 0px 6px;
}
