:root {
	--medium-grey: hsl(210, 19%, 18%);
	--very-dark-blue: hsl(228, 11%, 9%);
	--light-grey: hsl(217, 12%, 63%);
	--orange: hsl(25, 97%, 53%);
	--white: hsl(0, 0%, 100%);
	--dark-blue: hsl(215, 27%, 13%);
	--purple-blue: hsl(228, 45%, 44%);
}

* {
	padding: 0%;
	margin: 0%;
}

body {
	background-color: var(--very-dark-blue);
<<<<<<< HEAD
	min-height: 100vh;
=======
	height: 100vh;
>>>>>>> f5162782146265a17afc713a270257c1b1b6108c
	width: 100vw;
	font-family: "Overpass", sans-serif;
}

main {
	height: 97vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

<<<<<<< HEAD
h1 {
	display: none;
}

=======
>>>>>>> f5162782146265a17afc713a270257c1b1b6108c
h2 {
	color: var(--white);
	padding: 30px 0px 10px 0px;
	font-weight: 700;
	font-size: 1.7em;
}

p {
	font-size: 15px;
	color: var(--light-grey);
	line-height: 1.6;
}

button {
	border: none;
}

.card {
	background-color: var(--dark-blue);
	height: 22em;
	width: 22em;
	border-radius: 30px;
	padding: 1.7em;
}

.rating-card ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 1.7em 0em;
}

.rating-card ul li button:focus {
	color: var(--white);
	background-color: var(--light-grey);
}

.rating-card .submit-btn {
	width: 100%;
	border-radius: 30px;
	padding: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--orange);
	color: var(--white);
	border: 0;
	letter-spacing: 1px;
	margin-top: 10px;
	font-family: "Overpass", sans-serif;
}

.submit-btn:hover,
.rating-card ul li button:hover {
	color: var(--orange);
	background-color: var(--white);
	cursor: pointer;
}

.rating-card li button {
	background-color: var(--medium-grey);
	padding: 1rem 1.4rem;
	border-radius: 50%;
	color: var(--light-grey);
}

.star-icon {
	background-color: var(--medium-grey);
	width: 16px;
	height: 16px;
	padding: 15px;
	border-radius: 50%;
}

.thank-card {
	display: none;
}

.rating-card {
	display: block;
}

.thank-card img {
	margin: auto;
	display: block;
	padding: 1.5em;
}

.thank-card div {
	margin: auto;
	width: fit-content;
	padding: 0.3em 1em;
	color: var(--orange);
	background-color: var(--medium-grey);
	border-radius: 1em;
}
.thank-card h2 {
	text-align: center;
}

.thank-card p {
	text-align: center;
	padding: 0.3em;
}

.thank-card .outOfRating {
	padding-top: 0.5em;
}

.attribution {
	font-size: 11px;
	text-align: center;
	color: var(--light-grey);
}

.attribution a {
	color: var(--purple-blue);
}

@media (max-width: 375px) {
	.card {
		margin: 1.2em;
		padding: 1.4em;
		height: 20em;
		border-radius: 15px;
	}

	.rating-card li button {
		padding: 0.8rem 1.1rem;
	}

	p {
		font-size: 14px;
	}

	h2 {
		font-size: 1.5em;
		padding: 22px 0px 9px 0px;
	}

	.star-icon {
		padding: 11px;
	}

	.rating-card img {
		height: 14px;
		width: 14px;
	}

	.rating-card .submit-btn {
		padding: 0.9rem;
	}

	.rating-card ul {
		padding: 1.7em 0em 1.2em 0em;
	}

	.thank-card img {
		height: 99px;
		width: 150px;
		padding-top: 0.8em;
	}

	.outOfRating {
		font-size: 14px;
	}
}
